body {
  margin: 0;
}

.header-container {
  position: relative;
  display: inline-block;
  width: 100%;
  
}

.header-container img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  
}

.doordash-logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.header-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.become-container {
  position: relative;
  display: grid;
}
